/* variables */
:root {
    --main-background-color : #222;
    --second-background-color: 	rgb(160,82,45);
    --main-color: #fff;
}
  


/* Small Reset */
*::before, *::after, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background: lightyellow;
}

header > h1 {
    font-family: 'Silkscreen', cursive;
    margin: 3rem 0;
    font-size: 48px;
}

.helpbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Silkscreen', cursive;
    width:30rem;
    margin-bottom: 2rem;
}

.helpbox > p {
    margin: 1rem 0;
    text-align: center;
}

.case-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background:var(--main-background-color);
    color: var(--main-color);
    border: solid 0.3rem var(--second-background-color);
    width: 20rem;
    height: 25rem;
    border-radius: 5%;
    padding: 0.5rem 0.2rem;
}

.display-frame {
    width: 19rem;
    height: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.1rem 0.3rem;
    border-radius: 1rem;
    padding: 0.1rem 0.2rem;
    background: rgb(139,69,19);  
}

.display-container {
    font-family: 'Silkscreen', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.3rem;
    width: 18rem;
    height: 6rem;
    border-radius: 0.5rem;
    background: var(--main-background-color);
}

.key-header-container {
    display: flex;
    margin-bottom: 1rem;
    width: 18rem;
    height: 3rem;   
    border-bottom: 0.1rem solid var(--second-background-color);
    border-radius: 0.5rem;
    vertical-align: middle;
    
}

.key-header-container > .key-header-container-left {
    display: flex;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}

.key-header-container > .key-header-container-right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.key-header-container > .key-header-container-right > button {
    margin: 0 0.5rem;
}

.key-container > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.key-container > ul > li {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.key-container > ul > li > button {
    width: 70%;  
}

footer {
    margin-top: 2rem;
}

/*general button layout*/
button {
    width: 3rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    background: var(--main-color);
    color: var(--main-background-color);
    cursor: pointer;
}

button:hover {
    background: rgb(74, 74, 74);
    border: solid 1px black;
    color:var(--main-color);
}

/*special buttons*/
.symbol, .operator{
    background: darkgray;
}

.print {
    background: lightcoral;
}

